*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto';
  margin: 0;
  background-color: #2f364c;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 21px;
  }
}
